[submodule "themes/even"]
	path = themes/even
	url = https://github.com/feitian124/hugo-theme-even
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/feitian124/hugo-PaperMod.git
